site_name: jte
site_description: "Secure and speedy templates for Java and Kotlin"
repo_url: https://github.com/casid/jte/
site_url: https://jte.gg/
theme:
  icon:
    repo: fontawesome/brands/github
  language: en 
  name: material
  features:
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - navigation.instant
    - navigation.instant.progress
    - search.highlight
    - content.code.copy
    - content.tabs.link
    - content.code.select
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: teal
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/casid/jte

markdown_extensions:
  - meta
  - abbr
  - admonition
  - tables
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - awesome-pages
  - search
  - latest-git-tag
  - mkdocs-pom-parser-plugin:
      path: pom.xml

nav:
  - "Home":
    - "Getting Started": index.md
  - "Templates":
    - "Rendering a Template": rendering-a-template.md
    - "Templates Syntax": syntax.md
    - "HTML Rendering": html-rendering.md
  - "How To":
    - "Hot Reloading": hot-reloading.md
    - "Precompiling Templates": pre-compiling.md
    - "Binary Rendering": binary-rendering.md
    - "Localization": localization.md
    - "Kotlin Templates": kotlin.md
  - "Extensions":
    - "jte-models Facade Generator": jte-models.md
    - "Extensions API": jte-extension-api.md
  - "Spring Boot Support":
    - "Spring Boot Starter 3": spring-boot-starter-3.md
    - "Spring Boot Starter 2": spring-boot-starter-2.md
  - "Migrate to jte":
    - "Migrating to jte": migrating-to-jte.md
    - "JSP Converter": jsp-converter.md
